
header {
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style-type: none;
  padding: 0px 5px;
}

div.card {
  border: solid 1px black;
  padding: 15px;
}

div.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right {
  float: right;
  margin: 8px;

}

.left {
  width: 80vh;
}

div.card>div>h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

div.flex-row {
  display:flex;
  flex-direction: row;
}
div.flex-row div {
  margin-right: 5px;
}

div.collapse-wrapper {
  background-color: var(--color-bg-alt);
}

div.llm-history-item {
  margin: 5px;
  border: 1px solid black;

}

div.llm-history-item td {
  padding: 2px;
}

h5 {
  margin-bottom: 0px;

}

.form-modal {
  overflow: scroll;
}

.form-modal .form-div{
  margin: 10px 200px;
  padding: 10px 20px;
  background: var(--color-bg-alt);
}

.form-div .input-field {
  margin: 6px;
}

.form-div h6 {
  margin: 0px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 0.7em;
}

.form-div .input-field p {
  margin-top: -7px !important;
  background-color: var(--color-bg-alt);
  width: fit-content;
}
