
header {
  border-bottom: solid 1px black;
  display: flex;
  flex-direction: row;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style-type: none;
  padding: 0px 5px;
}

div.card {
  border: solid 1px black;
  padding: 15px;
}

div.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right {
  float: right;
  margin: 8px;

}

.left {
  width: 80vh;
}

div.card>div>h2:first-child {
  margin-top: 0;
  padding-top: 0;
}

div.flex-row {
  display:flex;
  flex-direction: row;
}
div.flex-row div {
  margin-right: 5px;
}

